@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Raleway&display=swap');

/*
body * {
    border: 2px solid red;
}
*/

:root{
    --main-blue:#EDF2EF;
    --main-dark:#1B263B;
}

*{
    margin:0;
    padding:0;
}

body {
    font-size:20px;
    background-color:var(--main-blue);
    color:var(--main-dark);
    font-family: 'Barrio', cursive;
    line-height: 1.6;
    margin:5vh 5vw;
    width: 90vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap: 5vh;
}

p{
    display:flex;
    align-items: center;
    justify-content: center;;
}

h1{
    text-align:center;
}
#title{
    font-size: clamp(2rem, 2vw, 3rem);
    text-align: center;
}

#rules{
    font-size:1.5rem;
}

button, .output {
    font-family: 'Barrio', cursive;
    background-color:var(--main-dark);
    color:var(--main-blue);
    border-radius:1rem;
    font-size:2rem;
}
#start-button, #restart{
    font-size:2rem;
    min-width:100px;
    min-height:50px;
    margin:1rem;
    padding:1rem;
}

button:hover{
    transform:scale(1.2);
}

#game-container{
    display:flex;
    flex-direction:column;
    gap:10vh;
}

#game, #scores{
    display:flex;
    height:20vh;

}

.flex-even {
    display: flex;
    justify-content: space-evenly;
}

.take-half {
    flex:50%;
    text-align:center;
}

.flex-center {
    display:flex;
    justify-content:center;
}

.output {
    min-width: 15%;
    aspect-ratio: 1;
    font-size:20px;
}


#scoreboard p {
    font-size:2rem;
}

#end-container{

    height:10vh;
}

#winner {
    font-size:clamp(2rem, 20vw, 10rem);
}