@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Raleway&display=swap');

/*
body * {
    border: 2px solid red;
}
*/

:root{
    --main-blue:#EDF2EF;
    --main-dark:#1B263B;
}

*{
    margin:0;
    padding:0;
}

body {
    font-size:20px;
    background-color:var(--main-blue);
    color:var(--main-dark);
    font-family: 'Barrio', cursive;
    line-height: 1.6;
}

#page-wrapper {
    height: 95vh;
    margin: 0 5vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: clamp(1rem, 3vw, 3rem);
    text-align:center;
}

p{
    font-size: clamp(1rem, 2vw, 2rem);
    display:flex;
    align-items: center;
    justify-content: center;;
}

.center {
    display:flex;
    justify-content:center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-between {
    display: flex;
    justify-content: space-evenly;
}

.take-half {
    flex:50%;
    text-align:center;
}

.margin {
    margin: 5vh 0;
}

#title{
    font-size: clamp(1rem, 5vw, 4rem);
}

button, .output {
    font-family: 'Barrio', cursive;
    background-color: var(--main-dark);
    color: var(--main-blue);
    border-radius: 1rem;
    font-size: 2rem;
}

button:hover{
    transform:scale(1.2);
}

#start-button, #restart{
    min-width:20%;
    aspect-ratio:2/1;
    padding:1rem;
}

.output {
    min-width: 20%;
    min-height: 20%;
    aspect-ratio: 1;
    font-size:1rem;
}

.emphasis {
    text-decoration: underline;
}

#scoreboard p {
    font-size:2rem;
}

#winner {
    font-size:clamp(2rem, 20vw, 15vh);
}
